<!DOCTYPE html>
<!--
 * A Design by Gold Label Inc.
 * Author: Carl Ashie Nikoi
 * Author URL: http://goldlabelgh.com
-->
<html lang="en">
    
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136332406-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136332406-1');
</script>

        <meta charset="UTF-8">
        <meta name="keywords" content="occupational hygiene, industrial hygiene, safety, consultancy, safety consultancy,hse risk assessment training,safety Services">
        <meta name="description" content="We apply various science disciplines including toxicology,occupational hygiene,chemistry,medicine and engineering to assist and determine occupational health related issues.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WHP Services Ltd</title>
        <!-- Load Roboto font -->
        <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400|Offside" rel="stylesheet"> 
        <!-- Load css styles -->
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/pluton.css" />
        <!--[if IE 7]>
            <link rel="stylesheet" type="text/css" href="css/pluton-ie7.css" />
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="assets/css/jquery.cslider.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/jquery.bxslider.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/animate.css" />
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/ico/fav2.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/ico/fav3.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/ico/fav4.png">
        <link rel="apple-touch-icon-precomposed" href="assets/images/ico/favv.png">
        <link rel="shortcut icon" href="assets/images/ico/favicon.png">
    </head>
    
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a href="#" class="brand">
                        <img src="assets/images/logo.png" width="120" height="40" alt="Logo" />
                        <!-- This is website logo -->
                    </a>
                    <!-- Navigation button, visible on small resolution -->
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <i class="icon-menu"></i>
                    </button>
                    <!-- Main navigation -->
                    <div class="nav-collapse collapse pull-right">
                        <ul class="nav" id="top-navigation">
                            <li class="active"><a href="#home">Home</a></li>
                            <li><a href="#service">Tasks</a></li>
                          <li><a href="#portfolio">Services</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                    <!-- End main navigation -->
                </div>
            </div>
        </div>
        <!-- Start home section -->
        <div id="home">
            <!-- Start cSlider -->
            <div id="da-slider" class="da-slider">
                <div class="triangle"></div>
                <!-- mask elemet use for masking background image -->
                <div class="mask"></div>
                <!-- All slides centred in container element -->
                <div class="container">
                    <!-- Start first slide -->
                    <div class="da-slide">
                        <h2 class="fittext2">Welcome to WHP Services Ltd.</h2>
                        <h4>Chemical Exposure Assessment </h4>
                        <p>Industrial Hygiene is concerned with worker health protection and is often described as the recognition, evaluation and control of chemical, physical and biological agents arising from the workplace activity. The presence of these agents may affect the health and wellbeing of employees and that of the business. WHP team of experienced hygienists and medical team understand this and offer a range of services that can help recognize, evaluate and control the risks present within the workplace.
The firm also conduct industrial hygiene gap analysis as well as standard compliance audit across diverse industrial settings.
</p>
                        <a href="mailto:info@whpsgh.com" class="da-link button">Email Us</a>
                        <div class="da-img">
                            <img src="assets/images/mask.png" alt="image01" width="320">
                        </div>
                    </div>
                    <!-- End first slide -->
                    <!-- Start second slide -->
                    <div class="da-slide">
                        <h2>Easy management</h2>
                        <h4>Health Risk Assessment</h4>
                        <p> We provide individuals with an evaluation of their health risks and quality of life.Commonly a HRA incorporates three key elements – an extended questionnaire, a risk calculation or score, and some form of feedback i.e. face-to-face with a health advisor or an automatic online report.</p>
                        <a href="mailto:info@whpsgh.com" class="da-link button">Email Us</a>
                        <div class="da-img">
                            <img src="assets/images/assessment.png" width="320" alt="image02">
                        </div>
                    </div>
                    <!-- End second slide -->
                    <!-- Start third slide -->
                    <div class="da-slide">
                        <h2>Airborne pollutant assessment</h2>
                        <p>Exposure assessmet of workplace stressors are among the basis of determining the extent of possible exposure for the evaluation of workers compensation,workforce education,due diligence and liabilty matters.</p>
                        <a href="mailto:info@whpsgh.com" class="da-link button">Email Us</a>
                      <div class="da-img">
                            <img src="assets/images/pollution.png" width="320" alt="image03">
                        </div>
                    </div>
                    <!-- Start third slide -->
                    <!-- Start cSlide navigation arrows -->
                    <div class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </div>
                    <!-- End cSlide navigation arrows -->
                </div>
            </div>
        </div>
        <!-- End home section -->
        <!-- Service section start -->
        <div class="section primary-section" id="service">
            <div class="container">
                <!-- Start title section -->
                <div class="title">
                    <h1>What We Do?</h1>
                    <!-- Section's title goes here -->
                    <p>We apply various science disciplines including toxicology,occupational hygiene,chemistry,medicine  and engineering to assist and determine occupational health related issues.</p>
                    <!--Simple description for section goes here. -->
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <div class="centered service">
                            <div class="circle-border zoom-in">
                                <img class="img-circle" src="assets/images/Toxicology.png" alt="service 1">
                            </div>
                          <h3>Toxicology</h3>
                            <p>Study of chemicals that can cause problems for living things. <br>
                            </p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="centered service">
                            <div class="circle-border zoom-in">
                                <img class="img-circle" src="assets/images/sup.png" alt="service 2" />
                            </div>
                          <h3>Health Support</h3>
                            <p>Expert Witness
                            <br>
Risk Based Medical Surveillance
 <br>
Workers Compensation Claims Assistance
 <br>
Occupational Health Assistance
<br>
                            </p>
                        </div>
                        
                    </div>
                    <div class="span4">
                        <div class="centered service">
                            <div class="circle-border zoom-in">
                                <img class="img-circle" src="assets/images/hygeine.png" alt="service 3">
                            </div>
                          <h3>Occupational hygiene</h3>
                          <p>Discipline of anticipating, recognising, evaluating and controlling health hazards in the working environment <br>
                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service section end -->
        <!-- Portfolio section start -->
        <div class="section secondary-section " id="portfolio">
            <div class="triangle"></div>
            <div class="container">
                <div class=" title">
                  <h1>WHP Services Ltd. seeks to provide efficient services.</h1>
                  <p>Client satisfaction is our topmost priority.</p>
                </div>
                <ul class="nav nav-pills">
                    <li class="filter" data-filter="all">
                        <a href="#noAction">All</a>
                    </li>
                    <li class="filter" data-filter="web"></li>
                    <li class="filter" data-filter="photo"></li>
                    <li class="filter" data-filter="identity"> <a href="#noAction">Shuffle</a> </li>
                </ul>
                <!-- Start details for portfolio project 1 -->
                <div id="single-project">
                    <div id="slidingDiv" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="assets/images/Portfolio01.png" alt="project 1" />
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Noise Survey & Assessment</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                      <p> Methodologies have evolved that allow noise exposure databases to   facilitate risk assessments (ASCC, 2008 and Hohmann, 2008). In addition,   there are guidance notes, checklists and noise risk assessment tools   which help to determine when noise is likely to be problematical   (EU-OSHA, 2014). </p>
                                      <p> While risk assessments can be undertaken without the need for noise   measurements (HSE, 2005), whenever any significant risk exists it would   be difficult to justify not using site-specific measurement data. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 1 -->
                    <!-- Start details for portfolio project 2 -->
                    <div id="slidingDiv1" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="assets/images/Portfolio02.png" alt="project 2">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Health Risk Assessment</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>A health risk assessment (HRA) is a health questionnaire, used to   provide individuals with an evaluation of their health risks and quality   of life.<a href="https://en.wikipedia.org/wiki/Health_risk_assessment#cite_note-Using_online_health_risk-4">[</a> Commonly a HRA incorporates three key elements – an extended   questionnaire, a risk calculation or score, and some form of feedback   i.e. face-to-face with a health advisor or an automatic online report.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 2 -->
                    <!-- Start details for portfolio project 3 -->
                    <div id="slidingDiv2" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="assets/images/Portfolio03.png" alt="project 3" width="94%" height="333">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Ergonomic Assessment</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                      <p>Ergonomic assessments, also referred to as workstation assessments,   ensure that a worker's workstation is ergonomically designed to minimise   the risk of injury and maximise productivity.</p>
                                      <p>Assessment are also conducted:</p>
                                      <ul>
                                        <li>To support the return to   work of an injured worker by ensuring that their workstation is designed   to minimise any discomfort as they recover from their injury and   prevent any aggravation of the injury</li>
                                        <li>For workers who work from home, to ensure their home work environment is safe and ergonomically designed.</li>
                                      </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 3 -->
                    <!-- Start details for portfolio project 4 -->
                    <div id="slidingDiv3" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="assets/images/Portfolio04.png" alt="project 4">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Air Quality</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>A lot of time is present indoors and air quality can play a major part in the health comfort and wellbeing of employees on a daily basis. Poor air quality can often be linked to headaches, eye, nose and throat irritation, dry skin, tiredness and lack of concentration etc. and in some severe cases, breathing difficulties, dizziness and nausea.
Assessment of the indoor air quality within office environment, monitoring for a wide range of parameters that may be affecting staff and these can include temperature, humidity, airflow, carbon dioxide and organic vapours etc.
On completion of the indoor air quality assessment, a detailed report will be provided incorporating measurement data, observations and where appropriate recommendations to improve the working environment.
</div></div>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 4 -->
                    <!-- Start details for portfolio project 5 -->
                    <div id="slidingDiv4" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="assets/images/Portfolio05.png" alt="project 5">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Exposure Assessment and Surveys</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div><p>
                                        Chemicals
                                        <br>
Noise 
<br>
Vibration 
<br>
Illumination
<br>
Heat Stress and Thermal Comfort
<br>
Fumes/Dust/Aerosols
<br>
Special projects involving unique industrial hygiene issues
<br>

                                    </p></div></div>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 5 -->
                    <!-- Start details for portfolio project 6 -->
                    <div id="slidingDiv5" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="assets/images/Portfolio06.png" alt="project 6">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Risk Based Medical Surveillance</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>Risk-based health surveillance, which may also   involve biological monitoring, is used to monitor for possible health   effects that may arise <strong>following occupational exposures</strong> at concentrations above accepted exposure standards.</div></div>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 6 -->
                    <!-- Start details for portfolio project 7 -->
                    <div id="slidingDiv6" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="assets/images/Portfolio07.png" alt="project 7">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Thermal Environmental Assessment</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>A reliable <strong>assessment</strong> of the <strong>thermal environment</strong> should take into account the whole of the six parameters affecting the <strong>thermal</strong> sensation (air temperature, air velocity, humidity, mean radiant   temperature, metabolic rate and thermo-physical properties of clothing).</div></div>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 7 -->
                    <!-- Start details for portfolio project 8 -->
                    <div id="slidingDiv7" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="assets/images/Portfolio08.png" alt="project 8">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Local Ventilation System Assessment</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div><p>When LEV systems are correctly maintained, it will protect worker health by controlling exposure to hazardous substances in the workplace. Employers experience problems when LEV systems are incorrectly installed or not maintained on a regular basis. COSHH Reg. 9 specifies that it is a legal requirement that an LEV system is examined and tested at least once every 14months and the test results must be kept for a minimum of 5years.
During the assessment a consultant will:
<br>
<br>
•	Visually inspect the condition of the system and its component;
<br>
•	Assess airflow, capture velocities, transport or duct velocities, face velocities and static pressure. Air samples can also be taken to prove control.
<br>
On completion of the LEV assessment, a detailed report will be provided including system details, measurement data, and observations and where appropriate recommendations to ensure that the LEV system continues to safeguard the health of the employees.
</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 8 -->
                    <!-- Start details for portfolio project 9 -->
                    <div id="slidingDiv8" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="assets/images/Portfolio09.png" alt="project 9">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Vibration Exposure Monitoring</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                      <p>A complete assessment of exposure to vibration requires the   measurement of vibration acceleration in meters per second squared (m/s2).   Vibration exposure direction is also important and is measured in   defined directions. Vibration frequencies and duration of exposure are   also determined. How hard a person grips a tool affects the amount of   vibrational energy entering the hands; therefore, hand-grip force is   another important factor in the exposure assessment.</p>
                                      <p>The  amount of exposure is determined by measuring acceleration in the units of m/s2.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 9 -->
                    <ul id="portfolio-grid" class="thumbnails row">
                        <li class="span4 mix web">
                            <div class="thumbnail">
                                <img src="assets/images/Portfolio01.png" alt="project 1">
                                <a href="#single-project" class="more show_hide" rel="#slidingDiv">
                                    <i class="icon-plus"></i>
                                </a>
                              <h3>Noise Survery &amp; Assessment</h3>
<div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix photo">
                            <div class="thumbnail">
                                <img src="assets/images/Portfolio02.png" alt="project 2">
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv1">
                                    <i class="icon-plus"></i>
                                </a>
                              <h3>Health Risk Assessment</h3>
<div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix identity">
                            <div class="thumbnail">
                                <img src="assets/images/Portfolio03.png" alt="project 3">
                                <a href="#single-project" class="more show_hide" rel="#slidingDiv2">
                                    <i class="icon-plus"></i>
                                </a>
                              <h3>Ergonomic Assessment</h3>
<div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix web">
                            <div class="thumbnail">
                                <img src="assets/images/Portfolio04.png" alt="project 4">
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv3">
                                    <i class="icon-plus"></i>
                                </a>
                              <h3>Air Quality</h3>
<div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix photo">
                            <div class="thumbnail">
                                <img src="assets/images/Portfolio05.png" alt="project 5">
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv4">
                                    <i class="icon-plus"></i>
                                </a>
                              <h3>Exposure Assessment and Surveys</h3>
<div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix identity">
                            <div class="thumbnail">
                                <img src="assets/images/Portfolio06.png" alt="project 6">
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv5">
                                    <i class="icon-plus"></i>
                                </a>
                              <h3>Risk Based Medical Surveillance</h3>
<div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix web">
                            <div class="thumbnail">
                                <img src="assets/images/Portfolio07.png" alt="project 7" />
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv6">
                                    <i class="icon-plus"></i>
                                </a>
                              <h3>Thermal Environment Assessment</h3>
<div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix photo">
                            <div class="thumbnail">
                                <img src="assets/images/Portfolio08.png" alt="project 8">
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv7">
                                    <i class="icon-plus"></i>
                                </a>
                              <h3>Local Ventilation System Assessment</h3>
<div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix identity">
                            <div class="thumbnail">
                                <img src="assets/images/Portfolio09.png" alt="project 9">
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv8">
                                    <i class="icon-plus"></i>
                                </a>
                              <h3>Vibration Exposure Monitoring</h3>
<div class="mask"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Portfolio section end -->
        <!-- About us section start -->
        <div class="section primary-section" id="about">
            <div class="triangle"></div>
            <div class="container">
                <div class="title">
                    <h1>Who Are We?</h1>
                    <p>Meet the team behind WHP services Limited.</p>
                </div>
                <div class="row-fluid team">
                    <div class="span4" id="first-person">
                        <div class="thumbnail">
                            <img src="assets/images/blank.png" alt="team 1">
                            <h3>Steve Gyan</h3>
							<p>Email:<em>stevegyan@whpsgh.com</em></p>
                            <div class="mask">
                              <h2>Managing Director</h2>
                                <p>Doubles as Certified Industrial Hygienist.</p>
                            </div>
                        </div>
                    </div>
                    <div class="span4" id="second-person">
                        <div class="thumbnail">
                            <img src="assets/images/blank.png" alt="team 1">
                            <h3>Nana Domina Attafuah</h3>
							<p>Email:<em>nanadomina@whpsgh.com</em></p>
                            <div class="mask">
                                <h2>Technician</h2>
                            </div>
                        </div>
                    </div>
                    <div class="span4" id="third-person"></div>
                </div>
                <div class="about-text centered"><a>
                <h3>About Us</h3>
<p>The industrial hygiene and occupational health services are provided by certified industrial hygienist, our medical support team and technical experts committed in helping clients to comply with relevant standards and practices and create a healthy environment by mitigating health risks for worker health protection. We have provided industrial hygiene services to clients in Ghana, Nigeria and Ivory Coast.  </p>
<p class="mb-2 mt-3">Contact us today to discuss how we can help you with industrial hygiene needs.</p>
                <p>&nbsp;</p>
                  <p>&nbsp;</p>
<p>&nbsp;</p>
              </a></div>
                <h3>Skills</h3>
                <div class="row-fluid">
                    <div class="span6">
                        <ul class="skills">
                            <li>
                                <span class="bar" data-width="80%"></span>
                                <h3>Ergonomic Assessment</h3>
                            </li>
                            <li>
                                <span class="bar" data-width="95%"></span>
                                <h3>Microbial Assessment</h3>
                            </li>
                            <li>
                                <span class="bar" data-width="68%"></span>
                                <h3>Airborne Pollutant Assessment</h3>
                            </li>
                            <li>
                                <span class="bar" data-width="70%"></span>
                                <h3>Indoor Air Quality Surveys</h3>
                            </li>
                        </ul>
                    </div>
                    <div class="span6">
                        <div class="highlighted-box center">
                          <p>Industrial Hygiene is concerned with worker health protection and is often described as the recognition, evaluation and control of chemical, physical and biological agents arising from the workplace activity. The presence of these agents may affect the health and wellbeing of employees and that of the business. WHP team of experienced hygienists and medical team understand this and offer a range of services that can help recognize, evaluate and control the risks present within the workplace.
The firm also conduct industrial hygiene gap analysis as well as standard compliance audit across diverse industrial settings.
m.</p>
<a href="mailto:info@whpsgh.com" class="da-link button">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About us section end -->
        <div class="section secondary-section">
            <div class="triangle"></div>
            <div class="container centered">
              <p class="large-text">Elegance is not the abundance of simplicity. It is the absence of complexity.</p>
</div>
        </div>
        <!-- Client section start -->
        <!-- Client section start -->
        <!-- Price section start -->    <!-- Price section end -->
        <!-- Newsletter section start -->
        <div class="section third-section">
            <div class="container newsletter">
                <div class="sub-section">
                    <div class="title clearfix">
                        <div class="pull-left">
                            <h3>Newsletter</h3>
                        </div>
                    </div>
                </div>
                <div id="success-subscribe" class="alert alert-success invisible">
                    <strong>Well done!</strong>You successfully subscribed to our newsletter.</div>
                <div class="row-fluid">
                    <div class="span5">
                        <p>Enter your email if you want to get notified of services we perform</p>
                    </div>
                    <div class="span7">
                        <form class="inline-form">
                            <input type="email" name="email" id="nlmail" class="span8" placeholder="Enter your email" required />
                            <button id="subscribe" class="button button-sp">Subscribe</button>
                        </form>
                        <div id="err-subscribe" class="error centered">Please provide valid email address.</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter section end -->
        <!-- Contact section start -->
        <div id="contact" class="contact">
            <div class="section secondary-section">
                <div class="container">
                    <div class="title">
                        <h1>Other Programs</h1>
                        <p>Respirator Fit – Testing Services<br><br>
Industrial Hygiene Program Gap Analysis
<br><br>
Standards Compliance Assistance.
</p>
                    </div>
                </div>
                <div class="map-wrapper">
                    <div class="map-canvas" id="map-canvas">
                         <div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15900.71744486171!2d-1.7815352!3d4.9096332!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2ce66e23a347b2dc!2sWHP+Services+Limited!5e0!3m2!1sen!2sgh!4v1554224709810!5m2!1sen!2sgh" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row-fluid">
                            <div class="span5 contact-form centered">
                                <h3>Send a Message</h3>
                                <div id="successSend" class="alert alert-success invisible">
                                    <strong>Thank You!</strong>Your message has been sent.</div>
                                <div id="errorSend" class="alert alert-error invisible">There was an error.</div>
                                <form id="contact-form" action="assets/php/mail.php">
                                    <div class="control-group">
                                        <div class="controls">
                                            <input class="span12" type="text" id="name" name="name" placeholder="* Your name..." />
                                            <div class="error left-align" id="err-name">Please enter name.</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <input class="span12" type="email" name="email" id="email" placeholder="* Your email..." />
                                            <div class="error left-align" id="err-email">Please enter valid email adress.</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <textarea class="span12" name="comment" id="comment" placeholder="* Comments..."></textarea>
                                            <div class="error left-align" id="err-comment">Please enter your comment.</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button id="send-mail" class="message-btn">Send message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                      </div>
                  </div>
              </div>
                <div class="container">
                    <div class="span9 center contact-info">
                        <p>P.O.Box Ax 1506</p>
                        <p>Axim Road-Takoradi</p>
                        <p class="info-mail">info@whpsgh.com </p>
                        <p>+233 546 538 355</p>
                        <div class="title"></div>
                    </div>
                    <div class="row-fluid centered"></div>
                </div>
            </div>
        </div>
        <!-- Contact section edn -->
        <!-- Footer section start -->
        <div class="footer"><p><i class="fa fa-love"></i>Copyright ©  2020 WHP Services Ltd.</p>
</p>
        </div>
        <!-- Footer section end -->
        <!-- ScrollUp button start -->
        <div class="scrollup">
            <a href="#">
                <i class="icon-up-open"></i>
            </a>
        </div>
        <!-- ScrollUp button end -->
        <!-- Include javascript -->
        <script src="assets/js/jquery.js"></script>
        <script type="text/javascript" src="assets/js/jquery.mixitup.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap.js"></script>
        <script type="text/javascript" src="assets/js/modernizr.custom.js"></script>
        <script type="text/javascript" src="assets/js/jquery.bxslider.js"></script>
        <script type="text/javascript" src="assets/js/jquery.cslider.js"></script>
        <script type="text/javascript" src="assets/js/jquery.placeholder.js"></script>
        <script type="text/javascript" src="assets/js/jquery.inview.js"></script>
        <!-- css3-mediaqueries.js for IE8 or older -->
        <!--[if lt IE 9]>
            <script src="js/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="assets/js/app.js"></script>
    </body>
</html>